body {
   font-family: $nunito;
    position:relative;
    margin: 0;
    min-height: 100%;
   background-color:$dark-blue;
}

.page-wrapper {
    padding:30px 15px;
    background-color:#ffffff;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.text-right {
    text-align:right;
}

.text-center {
    text-align:center;
}

.uppercase {
    text-transform: uppercase;
}

.nowrap {
    white-space: nowrap;
}

.white-bg {
    background-color:$white;
    padding-top:50px;
    padding-bottom:50px;

    @media #{$md-up} {
        padding-top:70px;
        padding-bottom:70px;
    }
}

.grey-bg {
    background-color:$grey;
    padding-top:50px;
    padding-bottom:50px;

    @media #{$md-up} {
        padding-top:70px;
        padding-bottom:70px;
    }
}

.img-fluid-inline-block {
    display:inline-block;
    max-width: 100%;
    height: auto;
}

.white-underline {
    border-bottom:1px solid $white;
    width:50%;
    margin:0 auto;
    margin-top:10px;
    margin-bottom:10px;
}

.center-content {
    justify-content: center;
    align-items: center;
}

.hide {
    display:none;
}
.show {
    display:block;
}

/*Responsive video*/
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 70%;
        height: 70%;
        margin: 0 auto;
    }
}

.video-wrapper {
    width:100%;
//    height:100%;
    margin:0 auto;
    background:#CCC;

    .video-inner-wrapper {
        position:relative;
    }
    .ratio {
        display:block;
        width:100%;
        height:auto;
    }
    iframe {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}

.video-container {
    margin-bottom:40px;
}

.video-center {
    text-align:center;
    margin-bottom:40px;
}

@media (max-width: 1199px) {
    .container{
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container{
        max-width: 1600px;
    }
}

hr {
    border:0.5px solid #c9cbce;
    margin:40px 0px;
}

.flip-wrap-order {
    flex-direction: column-reverse;

    @media #{$md-up} {
        flex-direction: row;
    }
}

.headshot {
    display:flex;
    justify-content:center;
}