.contact {
    .content {
        padding-top:30px;
        padding-bottom:30px;

        @media #{$md} {
            padding-top:50px;
            padding-bottom:50px;
        }
    }

    p.email {
        margin-top:10px;
    }

    .contact-wrapper {
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:100%;

        .text {
            width:57%;
        }

        .illustration {
            margin:0 auto;
            margin-top:30px;

            @media #{$md-up} {
                margin:0;
            }
        }
    }
}
