.contact {
    .content {
        padding-top:30px;
        padding-bottom:30px;

        @media #{$md-up} {
            padding-top:50px;
            padding-bottom:50px;
        }
    }

    p.email {
        margin-top:10px;
    }

    .contact-wrapper {
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
        flex-flow:column;

        @media #{$lg-up} {
            flex-direction: row;
        }

        .image-wrapper {
            width:100%;
            margin-bottom:40px;

            @media #{$lg-up} {
                width:40%;
                margin-bottom:0px;
            }

            img {
                margin:0 auto;
            }
        }

        .text {
            width:100%;

            @media #{$lg-up} {
                width:50%;
            }
        }

        .illustration {
            margin:0 auto;
            margin-top:30px;

            @media #{$md-up} {
                margin:0;
            }
        }
    }
    ul.social-media {
        margin-top:6px;

        li {
            display:inline-block;

            a {
                padding: 6px 7px;
                display:inline-block;
                background-repeat: no-repeat;
                cursor: pointer;

            }
        }
    }
}
