@import "_variables.scss";

.contact {
    .content {
        padding-top:30px;
        padding-bottom:30px;
        
        @media #{$md} {
            padding-top:50px;
            padding-bottom:50px;
        }
    }
    
    p.email {
        margin-top:10px;
    }
    
    .contact-illustration {
        margin:0 auto;
        margin-bottom:30px;
        
        @media #{$sm-down} {
            margin-bottom:0px;
        }
    }
}