@import "_variables.scss";

.footer {
    padding-top:20px;
    padding-bottom:20px;
    background-color:$white;
    background-image:url("../img/circle-bg-pattern.png");
    background-repeat: repeat;
    text-align:center;
    
    @media #{$md} {
        padding-top:30px;
        padding-bottom:30px;
    }
    
    .logo {
        margin-bottom:10px;
        vertical-align:middle;
        background-image:url("../img/logo.png");
        background-position:-67px 0px;
        width:70px;
        height:70px;
        display:inline-block;
        cursor: pointer;
    }
    
    .orange-underline {
        border-bottom:1px solid $orange;
        width:75%;
        margin:0 auto;
        
        @media #{$md} {
            width:35%;
        }
    }
    
    ul.nav {
        display:block;
        margin:15px 15px;

        li {
            list-style-type:none;
            display:inline-block;
            padding-right:10px;
            
            &:last-child {
                padding-right:0px;
            }
            
            a {
                color:#1C1D21;
                font-size:14px;
                text-transform: uppercase;
                font-weight:bold;
                text-decoration:none;
                padding-bottom:2px;
                font-family: $armino;
                letter-spacing:0.05em;

                &:hover, &:focus, .active {
                    border-bottom:2px solid $orange;
                }
            }
        }
    }
    
    ul.social-media {
        margin-top:6px;
        margin-right:20px;

        li {
            display:inline-block;

            a.behance, a.linkedin, a.vimeo, a.youtube {
                height:26px;
                display:inline-block;
                background-image:url("../img/social-media-icons-black.png");
                background-repeat: no-repeat;
                cursor: pointer;

            }
            a.behance {
                background-position:0px -0px;
                margin-right:10px;
                width:41px;
            }

            a.linkedin {
                background-position:-57px -0px;
                margin-right:10px;
                width:29px;
            }

            a.vimeo {
                background-position:-101px -0px;
                margin-right:10px;
                width:31px;
            }

            a.youtube {
                background-position:-143px -0px;
                width:38px;
            }
        }
    }
    
    p.copyright {
        font-size:12px;
        line-height:16px;
        color:#1C1D21;
        margin:15px 15px;
    }
}