.header {
    @import "nav";

    background-color:$dark-blue;
    padding:30px 15px;

    @media #{$md-up} {
        padding-top:30px;
        padding-bottom:20px;
    }

    .banner {
        padding:20px;

        @media #{$md-up} {
            padding:30px;
        }
    }
}
