.header {
    @import "nav";

    background-color:$dark-blue;
    padding-top:30px;
    padding-bottom:20px;

    @media #{$md-up} {
        padding-top:50px;
        padding-bottom:30px;
    }

    .banner {
        padding:20px;

        @media #{$md-up} {
            padding:70px 67px;
        }
    }
}
