@import "portfolio-items";

.home {
    .skills-wrapper {
        display:flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
        flex-direction:column;

        @media #{$md-up} {
            flex-direction:row;
        }

        &.switch-order {
            @media #{$md-up} {
                .illustration {
                    order:2;
                }
                .text {
                    order:1;
                }
            }
        }

        .text {
            width:100%;

            @media #{$md-up} {
                width:45%;
            }

            @media #{$lg-up} {
                width:55%;
            }
        }

        .illustration {
            margin:0 auto;
            margin-bottom:30px;

            @media #{$md-up} {
                margin:0;
                text-align:left;
            }
        }
    }
}
