@import "variables";

.logo-nav-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    width:100%;
}

a.logo {
    vertical-align:middle;
    display:block;
    cursor: pointer;

    @media #{$md-up} {
        margin-bottom:0px;
        display:inline-block;
    }
}

a.menu-btn-mobile {
    display: block;
    position: relative;
    width:40px;
    height:30px;
    z-index:101;

    span {
        width: 40px;
        height: 4px;
        background-color: #fff;
        border-radius: 8px;
        position: absolute;
        display: block;
        transition: 0.2s ease-in-out;
        left: 0px;
        opacity:1;
    }

    span {
        &:nth-child(1) {
          top: 0px;
        }
        &:nth-child(2) {
          top: 12px;
        }
        &:nth-child(3) {
          top: 12px;
        }
        &:nth-child(4) {
          top: 24px;
        }
    }

    &.open {
        span {
          &:nth-child(2) {
            left: 15px;
            opacity: 0;
          }
          &:nth-child(4) {
            top:16px;
            transform: rotate(135deg);
          }
          &:nth-child(1) {
            top:16px;
            transform: rotate(-135deg);
          }
          &:nth-child(3) {
            left: -15px;
            opacity: 0;
          }
      }
  }
}

.nav-container {
    background-color:$dark-blue;
    padding: 120px 20px 40px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    z-index:100;
    -webkit-transition: opacity .35s ease, visibility .35s ease, height .35s ease;
    -moz-transition: opacity .35s ease, visibility .35s ease, height .35s ease;
    transition: opacity .35s ease, visibility .35s ease, height .35s ease;
    visibility: hidden;

    &.open {
        opacity: 0.97;
        visibility: visible;
        height: 100%;
    }

    @media #{$md-up} {
        visibility:visible;
        position:relative;
        background-color:transparent;
        opacity:1;
        padding:0px;
    }

    ul.nav {
        text-align:right;
        margin-left:0px;
        margin-bottom:25px;
        display:block;
        width:100%;
        padding-bottom:25px;
        border-bottom:1px solid #fff;

        @media #{$md-up} {
            margin-left:30px;
            margin-bottom:0px;
            border-bottom:none;
            padding:0px;
            width:auto;
        }

        li {
            padding-bottom:20px;
            display:block;

            &:last-child {
                padding-bottom:0px;
                padding-right:0px;
            }

            @media #{$md-up} {
                list-style-type:none;
                display:inline-block;
                padding-bottom:0px;
                padding-right:15px;
            }

            a {
                color:$white;
                font-size:18px;
                text-transform: uppercase;
                text-decoration:none;
                font-family: $nunito;
                letter-spacing:0.05em;
                cursor: pointer;
                display:inline-block;

                @media #{$md-up} {
                    font-size:16px;
                }

                &:hover, &:focus, &.active {
                    color:$orange;

                    @media #{$md-up} {
                        color:$white;
                    }
                }

                &.active {
                    @media #{$md-up} {
                        &:after {
                            height:3px;
                            width:100%;
                            background:$orange;
                        }
                    }
                }

                @media #{$md-up} {
                    &:after {
                    content: '';
                    display: block;
                    height: 3px;
                    width: 0;
                    background: transparent;
                    -webskit-transition: width .3s ease, background-color .3s ease;
                    -moz-transition: width .3s ease, background-color .3s ease;
                    transition: width .3s ease, background-color .3s ease;
                    margin-top:4px;
                  }

                  &:hover:after, &:focus:after {
                    width: 100%;
                    background: $orange;
                  }
                }
            }
        }
    }

    ul.social-media {
        text-align:left;
        width:100%;

        @media #{$md-up} {
            text-align:right;
            width:auto;
        }

        li {
            display:inline-block;
            margin-right:15px;

            @media #{$md-up} {
                margin-right:0px;
            }

            &:last-child {
                margin-right:0px;
            }

            a {
                padding: 6px 7px;
                display:inline-block;
                background-repeat: no-repeat;
                cursor: pointer;
            }
    }
}
}