.petcare-app {
    .banner {
        background-color:#12364D;
        text-align:center;
        padding:40px 0px;

        @media #{$md-up} {
            padding:50px 0px;
        }

        img {
            margin:0 auto;
        }
    }

    .section {
        position:relative;

        .blue-bg {
            background-color:#41A8E9;
            height:0px;
            width:100%;
            position:absolute;
            z-index:4;

            @media #{$md-up} {
                height:40px;
                top:46%;
            }

            @media #{$xl-up} {
                height:280px;
                top:38%;
            }
        }
    }

    .info .wrapper {
        display:flex;
        align-items: center;
        flex-flow:column wrap;
        justify-content: space-around;
        margin-top:50px;
        z-index:5;
        position:relative;

        @media #{$md-up} {
            flex-flow:row nowrap;
        }

        .text {
            margin-bottom:30px;

            @media #{$md-up} {
                width:40%;
                margin-right:8%;
                order:1;
                margin-bottom:0px;
            }
        }

        .photo-wrapper {
            @media #{$md-up} {
                width:50%;
                order:2;
            }

            img {
                margin:0 auto;
            }
        }
    }

    .appointments .wrapper {
        display:flex;
        align-items: center;
        flex-flow:column wrap;
        justify-content: space-around;
        margin:50px;
        z-index:5;
        position:relative;

        @media #{$md-up} {
            flex-flow:row nowrap;
        }

        .text {
            margin-bottom:30px;

            @media #{$md-up} {
                width:50%;
                order:2;
                margin-bottom:0px;
            }
        }

        .photo-wrapper {
            @media #{$sm-up} {
                width:70%;
            }

            @media #{$md-up} {
                width:30%;
                order:1;
                margin-right:8%;
            }

            img {
                margin:0 auto;
            }
        }
    }

    h2 {
//        text-transform:none;

        &:after {
            background-color:#41A8E9;
        }
    }
}
