@import "_variables.scss";

.portfolio {
    a.see-project.toggle-link {
        font-size:18px;
        color:$orange;
        padding:10px 20px;
        border:2px solid $orange;
        cursor:pointer;
        margin-top:20px;
        display:inline-block;
        text-transform: uppercase;
        
        span:before {
            content:"See";
        }
        
        &:hover, &:focus {
            color:$white;
            background-color:$orange;
        }
        
//        &.closed span:before {
//            content:"See";
//        }
        
        &.open span:before {
            content:"Close";
        }
    }
    
    .maxHeight {
        max-height: 1000px;
    }
    
    .zeroHeight {
        max-height:0px !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        line-height:0px;
        padding-bottom:0px;
    }
    
    a.button {
        text-transform: uppercase;
        display:inline-block;
        padding:10px;
        font-weight: 700;
        margin-top:20px;
        text-decoration: none;
        vertical-align: middle;
        -wekbit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;

        &.orange {
            border:2px solid $orange;
            color:$orange;
            
            &:hover, &:focus {
                color:$white;
                background-color:$orange;
                
                .video {
                    background-position:-39px -27px;
                }
            }
        }
    }
    
    .category-icon {
        background-image:url("../img/category-icons.png");
        display:inline-block;
        vertical-align: middle;
        margin-right:5px;
        -wekbit-transition: background-image 0.3s ease-in-out;
        -moz-transition: background-image 0.3s ease-in-out;
        transition: background-image 0.3s ease-in-out;
        
        &.video {
            width:24px;
            height:24px;
            background-position:-39px -0px;
            margin-top:-5px;
        }
    }
    
    .more-content {
        margin-top:50px;
        margin-bottom:20px;
    }
    
    .orange-border {
        margin-top:30px;
        border-top:2px solid $orange;
        height:4px;
    }
    
    .close-button {
        color:$orange;
        font-size: 50px;
        -wekbit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        transition: all 0.2s ease;
        
        &:hover, &:focus {
            color:$blue;
        }
    }
    
    .portfolio-content {
        overflow:hidden;
        -wekbit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        
        &.details {
           padding-top:0px; 
        }
    }
    
    .portfolio-thumbail {
        margin:0 auto;
    }
}