.tidbits-list {
    display: flex;  
    flex-flow: row wrap;
    align-content: space-between;
    margin-left: -15px;
    margin-right: -15px;

    img {
        position:relative;
        text-decoration:none;
        flex-direction: column;
        align-content:flex-start;
        text-align:center;
        width:100%;
        padding:0px 15px 50px 15px;
        
    
        @media #{$md-up} {
            width:50%;
        }

        @media #{$lg-up} {
            width:33.3%;
        }
    
        @media #{$xl-up} {
            width:25%;
        }
    
        &:last-child {
            margin-bottom:0px;
        }
    
        &.x2 {
            width:100%;
            float:left;
    
            @media #{$md-up} {
                width:50%;
            }
        }
    
        &.x3 {
            width:100%;
            float:left;
    
            @media #{$md-up} {
                width:33.33%;
            }
        }
    
        &.x4 {
            width:50%;
            float:left;
    
            @media #{$md-up} {
                width:25%;
            }
        }
    
        &.full {
            width:100%;
        }
    
    }
    
}