/*colours*/
$white:#ffffff;
$grey:#F2F2F2;
$dark-grey:#414042;
$dark-blue:#1c1d21;
$blue:#00AAB2;
$yellow:#eaa815;
$orange:#f26414;

/*media queries*/
$xs-only:only screen and (max-width: 554px);
$sm:only screen and (max-width: 767px);
$md:only screen and (max-width: 991px);
$lg:only screen and (max-width: 1199px);

/*Google font*/
$armino:'Arimo', Arial, Helvetica sans-serif;
