/*colours*/
$white:#ffffff;
$grey:#F2F2F2;
$light-grey:#58595B;
$dark-grey:#414042;
$dark-blue:#1c1d21;
$blue:#00AAB2;
$yellow:#eaa815;
$orange:#f26414;
$orange-dark:#C24E0A;
$red:#c71c10;

/*media queries*/
$xs-only:only screen and (max-width: 554px);
$sm-down:only screen and (max-width: 767x);
$sm-up:only screen and (min-width: 767px);
$md-up:only screen and (min-width: 768px);
$lg-up:only screen and (min-width: 992px);
$xl-up:only screen and (min-width: 1200px);

/*Google font*/
$nunito:'Nunito Sans', Arial, Helvetica sans-serif;
